.page {
    margin: 1.5rem !important;
}

@media screen and (max-width: 575px) {
    .page {
        margin: 1.5rem 0 1.5rem 0 !important;
    }

    .display-3{
        font-size: 2.5rem !important;
    }
}

.bottom-bar{
    position: sticky;
    bottom: 0;
    left: 0;
}

.top-bar{
    position: sticky;
    z-index: 11;
    top: 55px;
    left: 0;
}

* {
    scrollbar-color: var(--secondary) var(--dark);
}